<!doctype html>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="{{ url_for('styles', path='/style.css') }}">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {% if g %}
    <a href="{{ '/' }}">my timeline</a> |
    <a href="{{ '/public' }}">public timeline</a> |
    <a href="{{ '/logout' }}">sign out [{{ g }}]</a>
  {% else %}
    <a href="{{ '/public' }}">public timeline</a> |
    <a href="{{ '/register' }}">sign up</a> |
    <a href="{{ '/login' }}">sign in</a>
  {% endif %}
  </div>
    <ul class=flashes>
    {% for message in get_flashed_messages(request) %}
      <li class="{{ message.category }}">{{ message.message }}</li>
    {% endfor %}
    </ul>
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit &mdash; Group I
  </div>
</div>
