{% extends "layout.html" %}
{% block title %}
  {% if endpoint == 'public_timeline' %}
    Public Timeline
  {% elif endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g %}
    {% if endpoint == 'user_timeline' %}
      <div class=followstatus>
      {% if f == profile_user.user_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ '/api/users/' + profile_user.username + '/unfollow' }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ '/api/users/' + profile_user.username + '/follow' }}">Follow user</a>.
      {% endif %}
      </div>
    {% elif endpoint == 'timeline' %}
      <div class=twitbox>
        <h3>What's on your mind {{ g }}?</h3>
        <form action="{{ '/api/users/messages' }}" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <div class="flex">
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a class="float" href="{{ next_url }}">Older posts</a>
    {% endif %}
  </div>
  <ul class=messages>
  {% for message in messages %}
    <li><img alt="Users Profile Picture" src="{{ message.avatar }}"><p>
      <strong><a href="{{ '/timeline/' + message.user}}">{{ message.user }}</a></strong>
      {{ message.content }}
      <small>&mdash; {{ message.date }}</small>
  {% else %}
    <li><em>There's no message so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
