version: '3.4'

services:

  db:
    image: postgres:latest
    restart: always
    container_name: db-minitwit
    build:
      context: db
      dockerfile: ./Dockerfile
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=minitwit
    ports:
      - 5442:5432
    volumes: 
      - database:/var/lib/postgresql/data
    networks:
      - postgres
    extra_hosts:
      - "host.docker.internal:127.0.0.1"

  fastapi:
    image: fastapi
    depends_on:
      - db
    networks:
      - postgres
    build:
      context: backend
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    volumes: 
      - ./backend/.env:/app/.env
    expose:
      - 8000

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - prometheus:/prometheus
      - ../.github/ansible/files/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - postgres

  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"  
    networks:
      - postgres

networks:
  postgres:

volumes:
  database:
  prometheus:
  grafana-data: