version: '3.4'

services:
  db:
    image: mirbitu/dbimage:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=minitwit
    ports:
      - 5432:5432
    volumes: 
      - database:/var/lib/postgresql/data
    networks:
      - postgres
    extra_hosts:
      - "host.docker.internal:127.0.0.1"

  fastapi:
    image: mirbitu/minitwitimage:latest
    depends_on:
      - db
    networks:
      - postgres
    ports:
      - 8000:8000
    volumes: 
      - /home/config/.env:/app/.env
    expose:
      - 8000

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - prometheus:/prometheus
      - /home/config/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - postgres

  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - /home/config/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"  
    networks:
      - postgres

networks:
  postgres:

volumes:
  database:
  prometheus:
  grafana-data: